{% set keystone=salt["grains.filter_by"]({
  "Debian": {
    "name": "keystone",
    "pkg": "keystone",
    "service": "keystone",
    "client_pkg": "python-keystoneclient",
  },
  "RedHat": {
    "name": "keystone",
    "pkg": "openstack-keystone",
    "service": "openstack-keystone",
    "client_pkg": "python-keystoneclient",
  },
  "default":{
    "name": "keystone",
    "pkg": "keystone",
    "service": "keystone",
    "client_pkg": "python-keystoneclient",
  }
  },merge=salt["pillar.get"]("keystone:lookup")) %}

# Set the keystone default config
{%- set keystone_config = {
  "DEFAULT": {
    "debug": "false",
    "verbose": "false",
    "admin_token" : salt["grains.get_or_set_hash"]("keystone:admin_token", length=20, chars="abcdefghijklmnopqrstuvwxyz0123456789"),
  },
  "database": {
    "connection": "mysql://keystone:" + salt["pillar.get"]("keystone:mysql:password") + "@" + salt["pillar.get"]("keystone:mysql:ip", "localhost") + "/keystone?charset=utf8",
  },
  "memcache": {
    "servers": salt["pillar.get"]("keystone:memcached:ip") |join(":11211,") + ":11211",
  },
  "token": {
    "driver": "keystone.token.backends.memcache.Token",
    "provider": "keystone.token.providers.uuid.Provider"
  }
} %}

{% for section, value in salt["pillar.get"]("keystone:config").iteritems() %}
  {% if not keystone_config.has_key(section) %}
    {% do keystone_config.update({ section:{} }) %}
  {% endif %}
  {% do keystone_config[section].update(value) %}
{% endfor %}

{#- vim:ft=sls
-#}
